page-home {
  button {
    margin-top: 5rem;
  }

  h1 {
    margin-bottom: 5rem;
    font-size: 4rem;
  }

  .button-inner {
    color: black;
  }
}

#message {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
  width: 400px;
  height: 100px;
}
