page-questions {
  .swiper-slide {
    display: block;
  }
  .slide-zoom {
    text-align: left;
  }
  ion-slide {
    background-color: white;
  }
  .question-text div{
    font-size: 3rem !important;
  }
  [icon-right] ion-icon {
    font-size: 3.4rem;
    padding: .2em;
  }
  .answer-text {
    font-size: xx-large;
  }
}

.rightAnswer {
  color: #33A244;
}

.wrongAnswer {
  color: #F57127;
}
