<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Modular Quiz - Questions
    </ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-title>{{ currentQuestion.text }}</ion-title>
    <ion-buttons end>
      <button *ngIf="slides.getActiveIndex() === 1" ion-button primary (click)="nextQuestion()">
        Next Question
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides effect="fade">
    <ion-slide>
      <button *ngFor="let answer of currentQuestion.answers" (click)="answerClick(answer)" ion-button block
              margin-vertical large>{{ answer.option }}
      </button>
    </ion-slide>
    <ion-slide>
      <h1 [ngClass]="{rightAnswer: isAnswerCorrect, wrongAnswer: !isAnswerCorrect}">
        {{ currentQuestion.answers[answerIndex].option }}
      </h1>
      <h2 *ngIf="isAnswerCorrect">You guessed the right answer</h2>
      <h2 *ngIf="!isAnswerCorrect">You guessed the wrong answer the right answer was
            <b>{{ currentQuestion.getRightAnswersOptionsText() }}</b></h2><br>
      <p>
        {{ currentQuestion.answers[answerIndex].message }}<br>
        {{ currentQuestion.answerText }}
      </p>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>{{totalAnswered}}/{{totalQuestions}}</ion-title>
  </ion-toolbar>
</ion-footer>
