<ion-header>
  <ion-navbar>
    <ion-title>
      Modular Quiz - Questions {{totalAnswered}}/{{totalQuestions}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>{{ currentQuestion.text }}</h2>
  <ion-slides effect="fade">
    <ion-slide>
        <button *ngFor="let answer of currentQuestion.answers" (click)="answerClick(answer)" ion-button block margin-vertical large>{{ answer.option }}</button>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header [ngClass]="{rightAnswer: isAnswerCorrect, wrongAnswer: !isAnswerCorrect}">
          Your answer: <b>{{ currentQuestion.answers[answerIndex].option }}</b>
        </ion-card-header>
        <ion-card-content>
          <span *ngIf="isAnswerCorrect">You guessed the right answer</span>
          <span *ngIf="!isAnswerCorrect">You guessed the wrong answer the right answer was
            <b>{{ currentQuestion.getRightAnswersOptionsText() }}</b></span><br>
          {{ currentQuestion.answers[answerIndex].message }}<br>
          {{ currentQuestion.answerText }}
        </ion-card-content>
        <ion-row no-padding>
          <ion-col text-right>
            <button ion-button (click)="nextQuestion()">
              Next Question
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
